[Unit]
Description=Parse Server service
After=mongodb.service
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=parse-server /home/ubuntu/config.json
[Install]
WantedBy=multi-user.target